<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>Chat</title>
</head>
<body>
<div id="app"></div>

<nav>
    <ul>
        <li>
            <a href="index.html">Home</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Gallery</a>
        </li>
        <li>
            <a href="chat.html">Chat</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>

<div class="container">
    <!-- chat box -->
    <div class="chat-box">
        <!-- client -->
        <div class="client">
            <img src="../static/images/logo.png" alt="logo"/>
            <div class="client-info">
                <h2>Max</h2>
                <p>online</p>
            </div>
        </div>

        <!-- main chat section -->
        <div class="chats" id="chats">
            <div class="client-chat">Hi!</div>
            <div class="my-chat">Hi!</div>
            <div class="client-chat">How can i help you?</div>
            <div class="my-chat">How are you?</div>
            <div class="client-chat">Fine thanks.</div>
        </div>

        <!-- input field section -->
        <div class="chat-input">
            <input type="text" placeholder="Enter Message" id="messageTextInput"/>
            <button onclick="sendMessage()" class="send-btn">
                <img src="../static/images/send.png" alt="send-btn"/>
            </button>
        </div>
    </div>

    <script src="../static/js/index.js"></script>
</body>
</html>
